body {
    font-size: 16px;
    color: #fff;
    background-color: #d4bec6;
    font-family: 'Oxygen', sans-serif;
  }

  #header-nav {
    background-color: #f5c451;
    border-radius: 0;
    border: 0;
  }
  .navbar-brand {
    padding: 5px 0px 10px 0px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #152c07;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: .75;
  }

  #head { 
    text-align: center;
    padding-bottom: 20px;
  }

  * {
    box-sizing: border-box;
  }

  #chi, #bee, #sus {
    margin-bottom: 15px;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    padding:10px 10px 10px 10px;
  
  }

  #chi:hover, #bee:hover, #sus:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }

  p {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 2px;
  }


  